name: Build, Push and Deploy DS to DockerHub

on:
  workflow_dispatch:       
  pull_request:
    branches:
      - main 

env:
 DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
 DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
 REPO_API: api-gateway
 REPO_CLIENT: client-service
 REPO_ACCOUNT: account-service

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push ds-account-service
        run: |
          cd ds-account-service
          mvn clean package -DskipTests
          docker build -t $DOCKER_USERNAME/ds-account-service:latest .
          docker push $DOCKER_USERNAME/ds-account-service:latest
          
      - name: Build & Push ds-api-gateway
        run: |
          cd ds-api-gateway
          mvn clean package -DskipTests
          docker build -t $DOCKER_USERNAME/ds-api-gateway:latest .
          docker push $DOCKER_USERNAME/ds-api-gateway:latest

      - name: Build & Push ds-client-service
        run: |
          cd ds-client-service
          mvn clean package -DskipTests
          docker build -t $DOCKER_USERNAME/ds-client-service:latest .
          docker push $DOCKER_USERNAME/ds-client-service:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Simulate deployment
        run: echo "Simulating deployment of all services"
